<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">
	<!--internalLogLevel="Trace"-->
	<!--internalLogFile="C:\temp\nlog-internal.log"-->

	<variable name="LogDirectory" value="C:\Logs" />

	<targets async="true">

		<!--Для TRACE-->
		<target name="TRACE" xsi:type="AutoFlushWrapper"
				condition="level >= LogLevel.Trace"
				flushOnConditionOnly="true">
			
			<target 
				xsi:type="File"
					name="SiteWorkflowFile"
					fileName="${LogDirectory}/{shortdate}-logfile.txt"
					createDirs="true"
					concurrentWrites="true"
					deleteOldFileOnStartup="false"
					header="TimeStamp;LogLevel;Ip;Message"
					layout="${longdate};${level};${message}"
					archiveAboveSize="5000"
					maxArchiveFiles="3"
					archiveFileName="${LogDirectory}/archive/TRACE/logfile.{#####}.txt"
					archiveNumbering="Sequence"
					keepFileOpen="false" />
		</target>

		<!--Для DEBUG-->
			<target name="DEBUG" xsi:type="AutoFlushWrapper"
					condition="level >= LogLevel.Trace"
					flushOnConditionOnly="true">

				<target
					xsi:type="File"
						name="SiteWorkflowFile"
						fileName="${LogDirectory}/{shortdate}-logfile.txt"
						createDirs="true"
						concurrentWrites="true"
						deleteOldFileOnStartup="false"
						header="TimeStamp;LogLevel;Ip;Message"
						layout="${longdate};${level};${message}"
						archiveAboveSize="5000"
						maxArchiveFiles="3"
						archiveFileName="${LogDirectory}/archive/DEBUG/logfile.{#####}.txt"
						archiveNumbering="Sequence"
						keepFileOpen="false" />
			</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="TRACE" />
		<logger name="*" level="Debug" writeTo="DEBUG" />
		<logger name="*" level="Info" writeTo="INFO" />
		<logger name="*" level="Warn" writeTo="WARN" />
		<logger name="*" level="Error" writeTo="ERROR" />
		<logger name="*" level="Fatal" writeTo="FATAL" />
	</rules>
</nlog>
