<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

	<variable name="LogDirectory" value="C:\Logs" />

	<targets async="true">

		<!-- Для записи в базу данных MySQL -->
		<target name="database" xsi:type="Database">
			<connectionString>Server=127.0.0.1;Database=errors;Uid=root;Pwd=12345;</connectionString>
			<dbProvider>MySql.Data.MySqlClient</dbProvider>
			<commandText>
				INSERT INTO errors (Message, Date, Exception, Level)
				VALUES (@message, @time_stamp, @exception, @level)
			</commandText>
			<parameter name="@message" layout="${message}" />
			<parameter name="@time_stamp" layout="${longdate}" />
			<parameter name="@exception" layout="${exception}" />
			<parameter name="@level" layout="${level}" />
		</target>

		<!-- Для TRACE -->
		<target name="TRACE" xsi:type="BufferingWrapper" bufferSize="2">
			<target xsi:type="File"
                    fileName="${LogDirectory}/{shortdate}-TRACE-logfile.txt"
                    createDirs="true"
                    concurrentWrites="true"
                    deleteOldFileOnStartup="false"
                    header="TimeStamp;LogLevel;Ip;Message"
                    layout="${longdate};${level};${message}"
                    archiveAboveSize="5"
                    maxArchiveFiles="3"
                    archiveFileName="${LogDirectory}/archive/TRACE/logfile.{#####}.txt"
                    archiveNumbering="Sequence"
                    keepFileOpen="false" />
		</target>

		<!-- Для DEBUG -->
		<target name="DEBUG" xsi:type="BufferingWrapper" bufferSize="2">
			<target xsi:type="File"
                    fileName="${LogDirectory}/{shortdate}-DEBUG-logfile.txt"
                    createDirs="true"
                    concurrentWrites="true"
                    deleteOldFileOnStartup="false"
                    header="TimeStamp;LogLevel;Ip;Message"
                    layout="${longdate};${level};${message}"
                    archiveAboveSize="5"
                    maxArchiveFiles="3"
                    archiveFileName="${LogDirectory}/archive/DEBUG/logfile.{#####}.txt"
                    archiveNumbering="Sequence"
                    keepFileOpen="false" />
		</target>

	</targets>

	<rules>
		<logger name="*" level="Trace" writeTo="TRACE" />
		<logger name="*" level="Debug" writeTo="DEBUG" />
		<!-- Пример правила для записи логов в базу данных -->
		<logger name="*" level="Error" writeTo="database" />
	</rules>
</nlog>
